.header {
  background: #0071c5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 3px #dcdcdc;
  height: 50px;
  line-height: 50px;
}

.header-title {
  color: white;
  font-weight: bold;
  margin-left: 5rem;
  font-size: var(--fs-lg);
  letter-spacing: 0.2px;
}

.header-section {
  display: none;
  flex-direction: column;
}

.header-text {
  color: #71b0df;
  font-size: var(--fs-md);
  letter-spacing: -0.5px;
  font-weight: bold;
}

.header-text,
.header-icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-line {
  background: #71b0df;
  position: absolute;
  width: 0.5px;
  height: 30px;
  top: -1000px;
  left: 207px;
}

.header-icons > svg {
  color: #bcdaf0;
  font-size: var(--fs-xxl);
  margin: auto 10px;
  cursor: pointer;
}

.header button {
  position: relative;
  border: none;
  background: none;
  width: 30px;
  height: 20px;
  right: 30px;
}

.header button span,
.header button span::before,
.header button span::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  height: 3px;
  background: white;
  width: 100%;
}

.header button span::before {
  top: 0;
}

.header button span {
  position: static;
  top: 50%;
  margin-top: -1px;
}

.header button span::after {
  top: auto; 
  bottom: 0;
}

.header button:focus {
  outline: none;
}

header button.open + .header-section {
  display: flex;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 150px;
  background-color: inherit;
  z-index: 10;
}

@media (min-width: 550px) {
  .header-icons > svg {
    margin: auto 30px;
  }
}

@media (min-width: 1200px) {
  .header-title {
    margin-left: 7rem;
  }

  .header button {
    display: none;
  }

  .header-section,
  .header button.close + .header-section 
  .header button.open + .header-section {
    padding: 0 20px;
    position: relative;
    display: inline;
  }

  .header-text {
    display: inline;
    padding-right: 20px;
    margin-right: 10px;
    font-size: var(--fs-sm);
  }

  .header-line {
    top: 10px;
  }

  .header-icons {
    display: inline;
  }

  .header-icons > svg {
    font-size: var(--fs-lg);
    margin: auto 10px;
    cursor: pointer;
  }
}