.dashboard {
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: scroll;
}

.dashboard-title {
  color: #555555;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2.5rem;
  padding: 0 3%;
  padding-bottom: 1rem;
  font-size: var(--fs-xxl);
}

.dashboard-grey {
  background: #edecec;
  padding: 1rem 3%;
}

.dashboard-grey > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
}

.dashboard-grey > section svg {
  font-size: 2rem;
}

.dashboard-grey > section > svg {
  color: #0071c5;
}

.dashboard-subtitle {
  letter-spacing: 1.2px;
  font-size: var(--fs-xxl);
  display: inline;
  font-weight: 400;
  margin-left: .5rem;
}

.dashboard-main {
  padding: 3rem 3%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .dashboard {
    height: 100%;
  }

  .dashboard-title,
  .dashboard-grey,
  .dashboard-main {
    padding-left: 5%;
    padding-right: 5%;
  }

  .dashboard-main {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 80%;
  height: 85%;
}
}

@media (min-width: 1600px) {
  .dashboard-title,
  .dashboard-grey,
  .dashboard-main {
    padding-left: 17%;
    padding-right: 17%;
  }
}