html {
  /* fallback */
  font-size: 10px;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fs-xs: 1rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: 2.6rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: var(--fs-md);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 800px) {
  :root {
    --fs-xs: 0.8rem;
    --fs-sm: 1.2rem;
    --fs-md: 1.4rem;
    --fs-lg: 1.8rem;
    --fs-xl: 2.2rem;
    --fs-xxl: 2.4rem;
  }
}